<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>
<body>
    <p>Hello,</p>
    <p>We received a request to reset your password. Click the link below to reset your password:</p>
    <a href="$lostPasswordLink">Reset Password</a>
    <p>If you didn't request this password reset, please ignore this email.</p>
    <p>Best regards,<br>Your App Team</p>
</body>
</html>